@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
:root {
    --bg--black-900:#f2f2fc;
    --bg--black-100: #fdf9ff;
    --bg--black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504370;
    --skin-color:#fa5b0f;
    --skin-color: #37b182;
    --skin-color: #1854b4;
    --skin-color: #f021b2;
    --skin-color: #ec1839;
}

body.dark {
    --bg--black-900:#151515;
    --bg--black-100: #222222;
    --bg--black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* ===== Main Content ==== */

.main-content {
    padding-left: 270px;
}

.section {
    background: var(--bg--black-100);
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1000px;
    max-height: 100%;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.hidden {
    display: none;
}

.dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}



/* ======== aside section ====== */

.aside {
    width: 270px;
    background: var(--bg--black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    z-index: 10;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: 1px solid var(--bg--black-50);
    
    > .logo {
        position: absolute;
        top: 50px;
        font-size: 40px;
        text-transform: capitalize;

        > a {
            color: var(--text-black-700);
            font-weight: 400;
            padding: 15px 20px;
            font-size: 30px;
            letter-spacing: 2px;
            position: relative;

            > span {
                font-family: "Clicker Script", cursive;
                font-family: 400px;
            }
        }
        a::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-bottom: 5px solid var(--skin-color);
            border-left:5px solid var(--skin-color);
            bottom: 0;
            left: 0;
        }

        a::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-top: 5px solid var(--skin-color);
            border-right:5px solid var(--skin-color);
            top: 0;
            right: 0;
        }

    }

    > .nav {
        margin {
            margin-top: 50px;
        }

        li {
            margin-bottom: 20px;
            display: block;

             a {
                font-size: 16px;
                font-weight: 600px;
                display: block;
                color: var(--text-black-900);
                padding: 5px 15px;
                border-bottom: 1px solid var(--bg--black-50);

                    i {
                        margin-right: 15px;
                    }
            }

            a.active{ 
                color: var(--skin-color);
            }
        }
    }

    > .nav-toggler {
        height: 40px;
        width: 45px;
        border: 1px solid var(--bg--black-50);
        cursor: pointer;
        position: fixed;
        left: 300px;
        top: 20px;
        border-radius: 5px;
        background: var(--bg--black-100);
        display: none;
        align-items: center;
        justify-content: center;

            span {
                height: 2px;
                width: 18px;
                background: var(--skin-color);
                display:inline-block;
            }
            span::before {
                content: '';
                height: 2px;
                width: 18px;
                background: var(--skin-color);
                position: absolute;
                top: 10px;
                left: 5;
            }

            span::after {
                content: '';
                height: 2px;
                width: 18px;
                background: var(--skin-color);
                position: absolute;
                bottom: 10px;
                left: 5;
            }
            
    }


}


/* ======= Home Page ====== */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);


        .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        }
       
        .home-info {
            flex: 0 0 60%;
            max-width: 60%;

            h3.hello {
                font-size: 25px;
                margin: 15px 0;
            
                > span {
                    font-family: "Clicker Script",cursive;
                    font-size: 40px;
                    font-weight: 700;
                    color: var(--skin-color);
                    margin-left: 15px;
                    
                }

            }
            
            h3.profession {
                font-size: 30px;
                margin: 15px 0; 

                .typing {
                    color: var(--skin-color);
                }
            }

            p {
                margin-bottom: 70px;
                font-size: 20px;
                color: var(--text-black-700);
            }
        }

        .btn {
            font-size: 16px;
            font-weight: 500;
            padding: 12px 35px;
            background-color:var(--skin-color);
            color: white;
            border-radius: 20px;
            display: inline-block;
            white-space: nowrap;
            transition: all 0.3s ease;
            border:none;
        }

        .btn:hover {
            transform:scaleX(1.35s);
        }

        .home-img  {
            flex: 0 0 40%;
            max-width: 40%;
            text-align: center;
            position: relative;
            
        
                img {
             height: 400px;
             width: 23dvw;
             border-radius: 5px;
             margin: auto;
            }
    }

        .home-img::after {
            content: '';
            position: absolute;
            height: 80px;
            width: 80px;
            right: 15px;
            bottom: 40px;
            border-bottom: 10px solid var(--skin-color);
            border-right: 10px solid var(--skin-color);
        }

        .home-img::before {
            content: '';
            position: absolute;
            height: 80px;
            width: 80px;
            left: 15px;
            top: -35px;
            border-top: 10px solid var(--skin-color);
            border-left: 10px solid var(--skin-color);
        }
}


/* about section */

.section-title
{

padding-top: 60px;
max-width: 100%;
flex: 0 0 100%;
margin-top: 5px;
margin-bottom: 60px;

    h2 {
        font-size: 35px;
        color: var(--text-black-900);
        font-weight: 700;
        position: relative;
    }
    
    h2::before {
        content:'';
        height: 4px;
        width: 50px;
        background-color: var(--skin-color);
        position:absolute;
        top: 100%;
        left: 0;
    }

    h2::after {
        content:'';
        height: 4px;
        width: 20px;
        background-color: var(--skin-color);
        position:absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
    }

}


.about {
    .about-content {
        flex: 0 0 100%;
        max-width: 100%;

        .personal-info {
            flex: 0 0 60%;
            max-width: 60%;
            margin-top: 40px;

            .info {
                flex: 0 0 50%;
                max-width: 50%;

                 P {
                    font-weight: 600;
                    padding: 10px 0;
                    font-size: 16px;
                    color: var(--text-black-900);
                    border-bottom: 1px solid var(--bg--black-50);

                     span {
                        font-weight: 400px;
                        color: var(--text-black-700);
                        margin-left: 4px;
                        display: inline-block;
                     }
                 }
            }
        }

        .skills {
            flex: 0 0 40%;
            max-width: 40%;
            margin-top: 40px;

            .skill-item {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 25px;

                    h5 {
                        line-height: 40px;
                        font-weight: 600;
                        font-size: 16px;
                        color: var(--text-black-900);
                        text-transform: capitalize;
                    }

            .progress {
                background-color: var(--bg--black-50);
                height: 7px;
                border-radius: 4px;
                width: 100%;
                position: relative;
                padding-bottom: 2px;
                    
                    .progress-in {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        border-radius: 4px;
                        background-color: var(--skin-color);
                        
                    }
                 }
                
            .skill-percent {
                position: absolute;
                right: 0;
                color: var(--text-black-900);
                top: -40px;
                font-weight: 400;
                line-height: 40px;
            }

            }
        }


    }
    
    .about-text {
        flex: 0 0 100%;
        max-width: 100%;
        
        h3 {
         font-size: 24px;
         margin-bottom: 15px;
         font-weight: 700;
         color: var(--text-black-700);

          span {
            color: var(--skin-color);
          }
        }

        p {
            font-size: 16px;
            line-height: 25px;
            color: var(--text-black-700);
        }

    }

    .education{
        max-width: 100%;
        margin-top: 30px;
        flex: 100%;

         > h3.title {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 30px;
            color: var(--text-black-900);
         }
    }

    .timeline-box {
        flex: 0 0 100%;
        max-width: 100%;
        

            .timeline {
                background-color: var(--bg--black-100);
                padding: 30px 15px;
                border: 1px solid var(--bg--black-50);
                width: 100%;
                border-radius: 10px;
                position: relative;

                    .timeline-item {
                        position: relative;
                        padding-left: 36px;
                        padding-bottom: 50px;
                        color:var(--text-black-700)
                    }

                    .timeline-item:last-child {
                        padding-bottom: 0;
                    }
                    .timeline-item::before {
                        content:'';
                        width: 1px;
                        position: absolute;
                        height: 100%;
                        left: 7px;
                        top: 0;
                        background-color: var(--skin-color);
                    }

                    .circle-dot {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: var(--skin-color);
                    }

                    .timeline-date{
                        font-weight: 400;
                        font-size: 14px;
                        margin-bottom: 12px;
                        color: var(--text-black-700);

                        .fa {
                            margin-right: 5px;
                        }
                    }

                    .timeline-title {
                        font-weight: 700;
                        font-size: 18px;
                        margin-bottom: 15px;
                        text-transform:capitalize;
                        color: var(--text-black-900);
                    }

                    .timeline-text {
                        line-height: 25px;
                        font-size: 16px;
                        text-align: justify;
                        color: var(--text-black-700);
                    }
                
            }
    }

    
}

/* Knowledge Section */

.knowledge {
    .container {
        padding-bottom: 40px;
    }
    .knowledge-item {
        margin-bottom: 30px;
        flex: 0 0 33.33%;
        max-width: 33.33%;

        .knowledge-item-inner {
            background-color: var(--bg--black-100);
            border: 1px solid var(--bg--black-50);
            border-radius: 10px;
            padding: 30px 15px;
            text-align: center;
            transition: all 0.35 ease;

            h4 {
                font-size: 18px;
                margin-bottom: 15px;
                color: var(--text-black-900);
                font-weight: 700;
                text-transform: capitalize;
            }

            p {
                font-size: 16px;
                color: var(--text-black-900);
                line-height: 25px;
            }

        }
        .knowledge-item-inner:hover {
            box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

            .icon {
                background: var(--skin-color);

                .fa {
                    font-size: 25px;
                    color: #ffff;
                }
            }
        }

        .icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            display: block;
            margin: 0 auto 30px;
            text-align: center;
            transition: all 0.3 ease;
            

            .fa {
                font-size: 40px;
                line-height: 60px;
                color: var(--skin-color);
            }
        }
    }
}


/* < -----------------------------------------------portfolio section--------------------------------------------------------> */

.portfolio .container {
    padding-bottom: 40px;
}

.portfolio .section-title {
    text-align: center;
    margin-bottom: 40px;

    h2 {
        text-align: start;
    }
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    flex: 0 0 calc(50% - 15px); 
    max-width: calc(50% - 15px); 
    margin-bottom: 30px;
    box-sizing: border-box;
}

.portfolio-item:nth-child(odd) {
    margin-right: 30px; 
}

.portfolio-item .portfolio-item-inner {
    border: 6px solid var(--bg--black-100);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.portfolio-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.portfolio-img i {
    font-size: 5rem;
    color: var(--skin-color);
    margin-bottom: 20px;
}

.portfolio-img h3,h4{
    color: var(--text-black-900);
    font-weight: 500;
    margin-bottom: 10px;

   
}

.portfolio-img a.btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: var(--skin-color);
}

.portfolio-img a.btn:hover {
    background-color: var(--skin-color);
    transform: scale(1.1);
    box-shadow: 2px 3px 5px 4px rgba(0,0,0,0.75);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* <---------------------------------------- Contact --------------------------------------------->*/

.contact-title {
    color: var(--skin-color);
    text-align: center;
    margin-bottom:20px;
    font-size: 25px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}


.contact {
    .contact-info-item {
        flex: 0 0 25%;
        max-width: 25%;
        text-align: center;
        margin-bottom: 60px;

            h4 {
                font-size: 25px;
                color: var(--text-black-900);
                font-weight: 700;
                text-transform: capitalize;
                margin: 15px 0 5px;
            }

            p{ 
                font-size: 16px;
                line-height: 25px;
                color: var(--text-black-700);
                font-weight: 400;
            }

        .icon {
            display: inline-block;

            .fa {
                font-size: 25px;
                color: var(--skin-color);

            }
        }
    }

    .contact-form  {
       
        max-width: 100%;
        flex: 0 0 100%;

        .col-6 {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }

        .form-item {
            margin-bottom: 30px;

                .form-control{
                    width: 100%;
                    height: 50px;
                    border-radius: 25px;
                    background: var(--bg--black-100);
                    border: 1px solid var(--bg--black-50);
                    padding: 10px 25px;
                    font-size: 16px;
                    color: var(--text-black-700);
                    transition: all 0.3 ease;
                }

                .form-control:focus {
                    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
                }

                textarea.form-control {
                    height: 160px;
                }

             
            
        }

        .col-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

    }
}


.btn1 {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color:var(--skin-color);
    color: white;
    border-radius: 20px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
    border:none;
    
}

.btn1:hover {
    transform:scale(1.35s);
}


@media (max-width: 1200px) {
    .aside {
        left: -270px;
    }
    .main-content {
        padding: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {
   
    .contact .contact-info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .portfolio .portfolio-item, .knowledge .knowledge-item {
        flex: 0 0 50%;
        max-width: 50;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100;
    }

    .homw .home-img img {
        display: none;
    }
}

@media (max-width:767px) {
    .about .about-content .info {
        flex: 0 0 100%;
    }
}
















